:root {
  --default-padding: 0px;
  --default-margin: 0px;
  --default-border: 0px;
  --default-font: 'Lato', sans-serif;
  --default-font-size: 90%;
  /*--default-font-size: 16px;*/
  --default-line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, div, span, ul, ol, li, table, th, tr, td, thead, tbody, tfoot, a, link, nav, dl, dt, dd, header, footer, main, section, article, aside, details, dialog, summary, data, head, meta, base, body, html, menu {
  padding: var(--default-padding);
  margin: var(--default-margin);
  border: var(--default-border);
  /*font-size: var(--default-font-size);*/
  line-height: var(--default-line-height);
  font-weight: normal;
}

/*div*/
h1, h2, h3, h4, h5, h6, p, span {
  display: inline-block;
}

body {
  margin: var(--default-margin);
  font-family: var(--default-font);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

