:root {
  --outline-padding: 10px;
  --left-padding: 20px;
  --experience-columns: 3;
  --skills-columns: 4;
}

h1, h2, h3, h4, h5, h6, p, div, span, ul, ol, li, table, th, tr, td, thead, tbody, tfoot, a, link, nav, dl, dt, dd, header, footer, main, section, article, aside, details, dialog, summary, data, head, meta, base, body, html, menu {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

body {
  margin: 20px;
  width: 800px;
  padding: var(--left-padding);
  font-family: 'Lato', sans-serif;
  font-size: 90%;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*height: 880px;*/
  /*margin: 20px 0;*/
  /*max-width: 50%;*/
}

a {
  text-decoration: none;
  color: inherit;
}

.hr {
  height: 0;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  background: transparent;
  /*margin: 3px 0;*/
}

.experience-container ul {
  padding-left: calc(var(--left-padding) + 2 * (var(--outline-padding)))
}

.experience-container {
  display: grid;
  grid-template-columns: repeat(var(--experience-columns), auto);
  grid-row-gap: 5px;
}

.experience-full-span {
  grid-column: span var(--experience-columns);
}

.experience-most-span {
  grid-column: span calc(var(--experience-columns) - 1);
}

.experience-last-column {
  justify-self: end;
}

.experience-first-column-title {
  padding-left: var(--outline-padding);
}

.experience-first-column-content {
  padding-left: calc(2 * (var(--outline-padding)));
}

.experience-container li {
  margin: 1px 0;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(var(--skills-columns), auto);
  grid-row-gap: 5px;
}

.skills-container ul {
  padding-left: calc(var(--left-padding) + 2 * (var(--outline-padding)))
}

.skills-first-column {
  padding-left: var(--outline-padding);
}

.skills-full-span {
  grid-column: span var(--skills-columns);
}
