:root {

  --body-width-padding: 60px;
  --body-height-padding: 50px;

  --body-width: 695px;
  --body-height: 935px;

  --section-separation: 5px;
  --subsection-separation: 5px;

  --professional-title-indent: 20px;
  --indent-size: 10px;
  --title-subtitle-separation: 10px;
  --professional-experience-list-item-margin: 22px;
  --skills-list-item-margin: 12px;

  --hr-margin: 5px;
}

/* Font size */
:root {
  --main-title-font-size: 48px;
  --subtitle-font-size: 24px;

  --section-title-font-size: 22px;
  --section-item-font-size: 18px;
  --section-item-subtitle-font-size: 16px;
  --default-font-size: 14px;
  --tiny-text-font-size: 12px;
}

/* Colors */
:root {
  --primary-color: #000000;

  /*--accent-color:  #0095D4;*/
  /*--accent-color:  #0099CC;*/
  /*--accent-color:  #00A8E8;*/
  /*--accent-color:  #00C4FF;*/
  /*--accent-color:  #00AEEF;*/
  /*--accent-color:  #00BFFF;*/
  /*--accent-color:  #6495ED;*/

  /*--accent-color: #4D81E4; !** i like this one a lot!! **!*/

  /*--accent-color:  #4BB543;*/
  /*--accent-color:  #7ACF61;*/
  /*--accent-color:  #00CC66;*/
  /*--accent-color:  #33CC33;*/
  /*--accent-color:  #00FF00;*/
  /*--accent-color: #FFB800;*/

  /*--accent-color: #FFB600;*/
  --accent-color: #000000;
}

/* Font family */
:root {
  --default-font-family: 'Avenir', sans-serif;
}

/* Font line Settings */
:root {
  --default-line-height: 1.5;
  --default-letter-spacing: 0px;
}

body {
  color: var(--primary-color);
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  letter-spacing: var(--default-letter-spacing);
  display: flex;
  justify-content: center;

  font-weight: normal;
  margin-block-start: var(--default-margin);
  margin-block-end: var(--default-margin);
  margin-inline-start: var(--default-margin);
  margin-inline-end: var(--default-margin);
}

#body-box {
  padding: var(--body-height-padding) var(--body-width-padding);
  /*border: solid 1px black;*/
}

#body-content {
  width: var(--body-width);
  height: var(--body-height);
}

.main-title {
  font-size: var(--main-title-font-size);
  color: var(--accent-color);
}

.subtitle {
  font-size: var(--subtitle-font-size);
  /*color: var(--accent-color);*/
}

.section-title {
  font-size: var(--section-title-font-size);
  margin-top: var(--section-separation);
  /*color: var(--accent-color);*/
}

.section-item {
  font-size: var(--section-item-font-size);
  color: var(--accent-color);
}

.section-item-row {
  padding-left: var(--indent-size);
}

.section-item-description {
  padding-left: calc(var(--professional-title-indent) + var(--indent-size));
}

.section-item-subtitle {
  font-size: var(--section-item-subtitle-font-size);
  /*color: var(--accent-color);*/
}

.tiny-text {
  font-size: var(--tiny-text-font-size);
}

#skills-section li {
  margin-left: calc(var(--skills-list-item-margin) + var(--indent-size))
}

#professional-experience li {
  margin-left: calc(var(--professional-experience-list-item-margin) + var(--indent-size));
}

.flexbox-container-vertical {
  display: flex;
  flex-direction: column;
}

.flexbox-container-vertical-centered {
  display: flex;
  flex-direction: column;
  align-items: center
}

.flexbox-container-vertical-align-end {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.flexbox-container-basic {
  display: flex;
  align-items: baseline; /* align text at the bottom */
}

.flexbox-container-basic > * {
  margin-right: var(--title-subtitle-separation);
}

.flexbox-container-full {
  display: flex;
  align-items: baseline; /* align text at the bottom */
  justify-content: space-between; /* Push items to the left and right */
}

.accent-color {
  color: var(--accent-color);
}

.professional-title {
  margin-left: var(--professional-title-indent);
  display: flex;
  flex-direction: column;
}

.professional-experience-item {
  margin-bottom: var(--subsection-separation);
}

.independent-project-item {
  margin-bottom: var(--subsection-separation);
}

/* Style the floating HR */
.floating-hr {
  position: absolute; /* Position the HR absolutely within the container */
  top: 96.9%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center the HR within the container */
  width: 100%; /* Adjust the HR width as needed */
  border: 1px solid #000; /* Style the HR border as needed */
}

.hr {
  height: 0;
  /*border-top: solid 1px var(--accent-color);*/
  border-top: solid 0 black;
  margin-top: var(--hr-margin);
  margin-bottom: var(--hr-margin);
  /*border-bottom: solid 1px black;*/
}
